@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Calcular el RFC y CURP</h1>
    <hr />


</div>
<div class="row">
    <div class="col-md-6">
        <div class="card" style="width: 24rem;">
            <img src="~/img/rfc.jpeg" class="card-img-top" height="220"  alt="RFC">
            <div class="card-body">
                <h5 class="card-title">RFC</h5>
                <p class="card-text">
                    El Registro Federal de Contribuyentes (RFC), también conocido como número RFC, es una clave que
                    requiere toda persona física o persona moral en México para realizar cualquier actividad económica lícita por la
                    que esté obligada a pagar impuestos, con algunas excepciones.
                </p>
                <a href="https://es.wikipedia.org/wiki/Registro_Federal_de_Contribuyentes" target="_blank" class="btn btn-primary">Saber más</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card" style="width: 24rem;">
            <img src="~/img/curp.png" class="card-img-top" height="240" alt="CURP">
            <div class="card-body">
                <h5 class="card-title">CURP</h5>
                <p class="card-text">
                    En México, la Clave Única de Registro de Población (CURP) es el documento de identidad oficial, y cuenta con ella la
                    mayor parte de la población. Una de sus características es que cada ciudadano tiene una clave única e irrepetible.
                </p>
                <a href="https://es.wikipedia.org/wiki/Clave_%C3%9Anica_de_Registro_de_Poblaci%C3%B3n" target="_blank" class="btn btn-primary">Saber más</a>
            </div>
        </div>
    </div>

</div>
